<div class="wrapper">
  <p class="instructions">
    Enter any numeric amount and select a currency from the dropdown menu
  </p>
  <currency-chooser
    [currencies]="currencies"
    [selectedCurrency]="currentSelection"
    (selectionChange)="onSelectionChange($event)"
  ></currency-chooser>
  <currency-input
    [classList]="['amount']"
    [(ngModel)]="amount"
    [symbol]="currentSelection.symbol"
  ></currency-input>

  <ul class="results">
    <li class="EUR">
      <span class="name">🇹🇿️ TZ</span><span class="iso">TSH</span
      ><span class="result text-right">0</span>
    </li>
    <li class="USD">
      <span class="name">🇰🇪️ KE</span><span class="iso">KSH</span
      ><span class="result text-right">0</span>
    </li>
    <li class="GBP">
      <span class="name">🇺🇬️ UG</span><span class="iso">USH</span
      ><span class="result text-right">0</span>
    </li>
    <li class="JPY">
      <span class="name">🇷🇼️ RW</span><span class="iso">RWF</span
      ><span class="result text-right">0</span>
    </li>
    <li class="AUD">
      <span class="name">🇧🇮️ BN</span><span class="iso">BFI</span
      ><span class="result text-right">0</span>
    </li>
  </ul>
  <p class="warning">
    <strong>Please note:</strong> The exchange rates given are 'bank rates'.
    High street rates may be subject to commission
  </p>
</div>
